body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

h1 {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    line-height: 60px;
    color: #363030;
}

p {
    line-height: 1.75em;
    padding-bottom: 0.75em;
    padding-right: 4em;
}

button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-style: none;
    border-radius: 20em;
    width: 8em;
    height: 4.7em;
    position: relative;
    left: -60px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(222, 191, 191, 0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(222, 191, 191, 0.75);
    box-shadow: 0px 10px 20px 0px rgba(222, 191, 191, 0.75);
}

form {
    display: flex;
}

::placeholder {
    color: hsl(0, 36%, 70%);
    opacity: 0.45;
}

.nav,
.mobile-hero-img {
    display: none;
}

.main {
    display: flex;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 7em 0 12.5em;
}

.logo-section {
    padding-top: 3.5em;
    height: 24%;
}

.form-section {
    height: 76%;
}

.right-side {}

.email {
    border-color: hsla(0, 36%, 70%, 33%);
    border-width: 1px;
    border-radius: 20em;
    border-style: solid;
    font-size: 16px;
    font-family: inherit;
    background: transparent;
    padding: 1em 0 1em 1.5em;
    width: 400px;
}

.error-message {
    font-size: 12px;
    padding-left: 2em;
    margin: 0;
    margin-top: -1.5em;
    display: none;
}

.error-icon {
    position: relative;
    top: -39px;
    left: 330px;
    display: none;
}

.__thin {
    font-weight: 300;
}

.__desaturated-red {
    color: hsl(0, 36%, 70%);
}

.__soft-red {
    color: hsl(0, 93%, 68%);
}

.__thicc {
    font-weight: 600;
}

@media only screen and (max-width: 375px) {
    p {
        padding: 0 3em;
        font-size: 0.85em;
    }
    h1 {
        padding: 2em;
        font-size: 3.5em;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        line-height: 42px;
        color: #363030;
        font-size: 2.5em;
    }
    form {
        padding-left: 2em;
        padding-bottom: 15em;
        padding-top: 1.5em;
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
    .main {
        flex-direction: column;
        background-image: none;
    }
    .form-section {
        text-align: center;
        height: inherit;
    }
    .logo-section {
        padding: 2em;
    }
    .logo-section>img {
        width: 35%;
    }
    .nav,
    .mobile-hero-img {
        display: block;
    }
    .left-side {
        padding: 0;
        padding-top: 4em;
    }
    .left-side .logo-section {
        display: none;
    }
    .right-side {
        display: none;
    }
    .bigform {
        width: auto;
        height: auto;
    }
    #button {}
}