body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

h1 {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #363030;
}

p {
    line-height: 1.75em;
    padding-bottom: 0.75em;
}

button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-style: none;
    border-radius: 20em;
    width: 8em;
    height: 4.7em;
    position: relative;
    left: -60px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
}

.main {
    display: flex;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10em;
}

.logo-section {
    padding-top: 3em;
    height: 25%;
}

.form-section {
    height: 75%;
}

.right-side {}

.email {
    border-color: hsl(0, 36%, 70%);
    border-width: 1px;
    border-radius: 20em;
    border-style: solid;
    font-size: 16px;
    font-family: inherit;
    background: transparent;
    padding: 1em 0 1em 1.5em;
    width: 400px;
}

.error-message {
    font-size: 12px;
    padding-left: 1.5em;
    margin: 0;
    margin-top: -1.5em;
    display: none;
}

.error-icon {
    position: relative;
    top: -39px;
    left: 330px;
    display: none;
}

.__thin {
    font-weight: 300;
}

.__desaturated-red {
    color: hsl(0, 36%, 70%);
}

.__soft-red {
    color: hsl(0, 93%, 68%);
}

.__thicc {
    font-weight: 600;
}